<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Zhiming015.png</key>
			<dict>
				<key>width</key>
				<integer>384</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>384</integer>
				<key>originalHeight</key>
				<integer>224</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Zhiming014.png</key>
			<dict>
				<key>width</key>
				<integer>384</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>384</integer>
				<key>originalHeight</key>
				<integer>224</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>226</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Zhiming013.png</key>
			<dict>
				<key>width</key>
				<integer>384</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>384</integer>
				<key>originalHeight</key>
				<integer>224</integer>
				<key>x</key>
				<integer>386</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Zhiming012.png</key>
			<dict>
				<key>width</key>
				<integer>384</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>384</integer>
				<key>originalHeight</key>
				<integer>224</integer>
				<key>x</key>
				<integer>386</integer>
				<key>y</key>
				<integer>226</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Zhiming011.png</key>
			<dict>
				<key>width</key>
				<integer>384</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>384</integer>
				<key>originalHeight</key>
				<integer>224</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>452</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Zhiming010.png</key>
			<dict>
				<key>width</key>
				<integer>384</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>384</integer>
				<key>originalHeight</key>
				<integer>224</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>678</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Zhiming009.png</key>
			<dict>
				<key>width</key>
				<integer>384</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>384</integer>
				<key>originalHeight</key>
				<integer>224</integer>
				<key>x</key>
				<integer>386</integer>
				<key>y</key>
				<integer>452</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Zhiming008.png</key>
			<dict>
				<key>width</key>
				<integer>384</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>384</integer>
				<key>originalHeight</key>
				<integer>224</integer>
				<key>x</key>
				<integer>386</integer>
				<key>y</key>
				<integer>678</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Xiqu005.png</key>
			<dict>
				<key>width</key>
				<integer>217</integer>
				<key>height</key>
				<integer>188</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>772</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Xiqu006.png</key>
			<dict>
				<key>width</key>
				<integer>225</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>772</integer>
				<key>y</key>
				<integer>190</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>Xiqu007.png</key>
			<dict>
				<key>width</key>
				<integer>232</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>772</integer>
				<key>y</key>
				<integer>384</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>Xiqu008.png</key>
			<dict>
				<key>width</key>
				<integer>234</integer>
				<key>height</key>
				<integer>203</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>772</integer>
				<key>y</key>
				<integer>586</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>Xiqu009.png</key>
			<dict>
				<key>width</key>
				<integer>234</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>772</integer>
				<key>y</key>
				<integer>791</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>Attack1.png</string>
			<key>realTextureFileName</key>
			<string>Attack1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>